<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <!-- <div class="card-icon">
                        </div> -->
                        <h4 class="card-title ">
                            <%= classify(name) %> list
                        </h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-mini-fab aria-label="Example icon button with a delete icon" class="pull-right" routerLink="unos">
                                    <mat-icon>add</mat-icon>
                                  </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table #dataTable<%= classify(name) %> id="datatable_<%= underscore(name) %>" class="table table-bordered table-striped table-sm "></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>